<article class="timer">
  <h1 class="timer__title">goit-js-hw-00-timer</h1>

  <div class="timer__box is-hide" id="timer-1">
    <div class="field">
      <span class="value" data-value="days">00</span>
      <span class="label">Days</span>
    </div>

    <div class="field">
      <span class="value" data-value="hours">00</span>
      <span class="label">Hours</span>
    </div>

    <div class="field">
      <span class="value" data-value="mins">00</span>
      <span class="label">Minutes</span>
    </div>

    <div class="field">
      <span class="value" data-value="secs">00</span>
      <span class="label">Seconds</span>
    </div>
  </div>

  <div class="form-box">
    <h2 class="form-box__title">set date</h2>
    <form class="form" action="">
      <input type="date" class="date" data-value="data" />
      <button type="button" class="button" data-action="start">Start</button>
    </form>
  </div>
</article>
